@import "../fonts/MuseoSansCyrl/stylesheet.css";
@import "../libs/jquery/owl-carousel/owl.carousel.min.css";
@import "../libs/jquery/owl-carousel/owl.theme.default.min.css";

@import "buttons";
@import "header";
@import "first-screen";
@import "advantages";
@import "consultation";
@import "consult-form";
@import "carousel";
@import "catalog";
@import "review";
@import "footer";
@import "overlay";
@import "backToTop";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}



.container{
  max-width: 942px;
  width: 100%;
  margin: 0 auto;
}

:root{
  --museo700: MuseoSansCyrl-700,sans-serif;
  --museo500: MuseoSansCyrl-500,sans-serif;
  --red:#C70101;
}
@import "media";